@font-face{
  src: url("siwol.ttf");
  font-family:"siwol";
}

.flex {
  display:flex;
}

.field {
  min-width: 100px;
  min-height: 30px;
  margin: 10px;
}

html{
  width:100%;
  height:100%;
  font-family: "siwol";
}

body {
  width: 100%;
  height: 100%;
  margin: 10px;

}

button.gotoMain{
  height: 30px;
  width: 170px;
  outline: black;
  background: rgb(255, 255, 255);
  border: rgb(236, 78, 78) solid 3px;
  color: rgb(0, 0, 0);
  font-size: 14;
  font-weight: bold;
  transition: 0.2s;
}

button.mainMenu{
  height: 40px;
  width: 220px;
  max-width: 45%;
  outline: black;
  background: rgb(255, 255, 255);
  border: rgb(236, 78, 78) solid 3px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 20;
  font-weight: bold;
  transition: 0.2s;
  margin-top: 10px;
  margin-left: 7px;
}

button.answer {
  height: 45px;
  width: 250px;
  max-width: 45%;
  outline: none;
  background: rgb(236, 78, 78);
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 20px;
  color: white;
  font-size: 16;
  font-weight: bold;
  box-shadow: 0 4px 16px rgba(255, 72, 72, 0.3);
  transition: 0.2s;
}

button.resultBtn{
  height: 40px;
  width: 180px;
  max-width: 75%;
  outline: black;
  background: rgb(236, 78, 78);
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 14px;
  color: white;
  font-size: 16;
  font-weight: bold;
  transition: 0.2s;
}

button:focus{
  outline:0;
}
button:hover{
  cursor:pointer;
}
button:active {
  background: rgb(185, 28, 28);
}

img.opacity{
  opacity: 0.5;
  filter:alpha(opacity=50);
}

img.index{
  max-width: 100%;
  height: auto;
}

img.quizImage{
  height: 300;
}

.quizTable{
  margin-bottom: 50px;
}

table.quizTable {
  border-collapse: collapse;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 4px solid #369;

}
table.quizTable th {
  width: 300px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #000000;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

table.quizTable td {
  width: 349px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main{
  text-align: center;
  margin-top:3%;
}

.mainGame{
  display:none;
}

.result{
  display:none;
}

.menu{
  color:#000000 !important
}

.quizHeader{
  text-align: center;
  margin-top:2%;
  font-size: 20;
}

.quizImage{
  text-align: center;
}

.answers{
  text-align: center;
  width:100%;
  margin-top:1%;
}

.answerImages{
  width:1300px;
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.answerImage{
  width:300px;
  max-width: 45%;
  margin-top:1%;
  margin-left: 5px;
  margin-right: 5px;
}

.scoreBoard {
  text-align: center;
  margin-top:20;
  font-size:16;
  font-weight: bold;
}     

.result{
  text-align: center;
  margin-top:5%;
  font-weight: bold;
  display: none;
}

.clear{
  text-align: center;
  margin-top:5%;
  font-weight: bold;
  display: none;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;   
  background:rgb(255, 225, 225);
  margin:0 auto;
  text-align: center;
}


