@font-face{
  src: url("/siwol.ttf");
  font-family:"siwol";
}

.flex { display:flex;}

.field {
  min-width: 100px;
  min-height: 30px;
  margin: 10px;
}

button.gotoMain{
  height: 30px;
  width: 170px;
  outline: black;
  background: rgb(236, 78, 78);
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 14px;
  color: white;
  font-size: 12;
  font-weight: bold;
  transition: 0.2s;
}

button.mainMenu{
  height: 40px;
  width: 220px;
  max-width: 45%;
  outline: black;
  background: rgb(255, 255, 255);
  border: rgb(236, 78, 78) solid 3px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 20;
  font-weight: bold;
  transition: 0.2s;
}

button.answer {
  height: 45px;
  width: 250px;
  max-width: 45%;
  outline: none;
  background: rgb(236, 78, 78);
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 20px;
  color: white;
  font-size: 16;
  font-weight: bold;
  box-shadow: 0 4px 16px rgba(255, 72, 72, 0.3);
  transition: 0.2s;
}

button.resultBtn{
  height: 40px;
  width: 180px;
  max-width: 75%;
  outline: black;
  background: rgb(236, 78, 78);
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 14px;
  color: white;
  font-size: 16;
  font-weight: bold;
  transition: 0.2s;
}

button:focus{
  outline:0;
}
button:hover{
  cursor:pointer;
}
button:active {
  background: rgb(185, 28, 28);
}

img.opacity{
  opacity: 0.5;
  filter:alpha(opacity=50);
}

img.index{
  max-width: 100%;
  height: auto;
}

img.quizImage{
  height: 300;
}

.opClass {
  opacity:0.5;
  filter:alpha(opacity=50);
}

.notification-container {
  background: rgba(0,0,0,.3);
  border-radius: 10px 10px 0 0 ;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container.show {
  transform: translateY(-50px);
}


